## SQL Examples

In [ ]:
# A way to apply multiple filters to an aggregate 
Select
    COUNT(CASE WHEN salary > THEN 1 END) as "high_sal",
    COUNT(CASE WHEN salary BETWEEN 50000 AND 70000 THEN 1 END) as "medium_sal",
    COUNT(CASE WHEN salary < 50000 THEN 1 END) as "low_sal"
FROM table_name;

In [ ]:
# pivoting
# Pivoting is the act of turing row-level data into columnar data.

# Sales amount and salesperson in each row, but we want a report by salesperson, by month

Select salesperson, [Jan] AS "Jan_sales", [Feb] AS Feb_sales
FROM 
(Select salesperson, month, sales FROM sales) as sourceTable
Pivoting
(
    SUM(sales)
    FOR month IN ([Jan], [Feb])
) AS PivotTable;


# same example using CASE Statement
SELECT 
    salesperson,
    SUM(CASE WHEN month = 'Jan' THEN sales ELSE 0 END) as "Jan_sales",
    SUM(CASE WHEN month = 'Feb' THEN sales ELSE 0 END) as "Feb_sales",
FROM sales
GROUPBY salesperson;